<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">#Carnet 0907-04-07964 ||</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="empleados"> EMPLEADOS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="clientes"> CLIENTES <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="facturas"> FACTURAS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="productos"> PRODUCTOS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="productos-facturas"> PRODUCTOS FACTURAS <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!logedIn(); else elseTemplate">
          <li class="nav-item active">
            <a class="nav-link" routerLink="login"> Ingresar <span class="sr-only">(current)</span></a>
          </li>
        </ng-container>

        <ng-template #elseTemplate>
          <li class="nav-item active">
            <a class="nav-link" (click)="onLogout()">Salir <span class="sr-only">(current)</span></a>
          </li>
        </ng-template>

      </ul>
    </div>
  </nav>

</div>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

