<!-- <div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">PRODUCTOS</li>
      <li class="list-group-item list-group-item-warning" *ngFor="let pro of productos">{{"Id: "+pro.id+","+"Nombre: "+pro.nombre+","+"Precio: "+pro.precio+","+"Creado_por: "+pro.creado_por}}</li>
    </ul>
  </div>
</div> -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Creado_por</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pro of productos">
      <th scope="row"><a [routerLink]="['/productos', pro.id]">{{pro.id}}</a></th>
      <td>{{pro.nombre}}</td>
      <td>{{pro.precio}}</td>
      <td>{{pro.creado_por}}</td>
    </tr>
  </tbody>
</table>
