<!-- <div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">FACTURAS</li>
      <li class="list-group-item list-group-item-warning" *ngFor="let fac of facturas">{{"Id: "+fac.id+","+"cliente_id: "+fac.cliente_id+","+"Empleado_id: "+fac.empleado_id+","+"creado: "+fac.creado+","+"Estado: "+fac.estado}}</li>
    </ul>
  </div>
</div> -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Cliente_id</th>
      <th scope="col">Empleado_id</th>
      <th scope="col">Creado</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fac of facturas">
      <th scope="row"><a [routerLink]="['/facturas', fac.id]">{{fac.id}}</a></th>
      <td>{{fac.cliente_id}}</td>
      <td>{{fac.empleado_id}}</td>
      <td>{{fac.creado}}</td>
      <td>{{fac.estado}}</td>
    </tr>
  </tbody>
</table>

