<!-- <div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">EMPLEADOS</li>
      <li class="list-group-item list-group-item-warning" *ngFor="let emp of empleados">{{"Id: "+emp.id+","+"Codigo: "+emp.codigo+","+"Nombre: "+emp.nombre+","+"Salario: "+emp.salario}}</li>
    </ul>
  </div>
</div> -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Salario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empleados">
      <th scope="row"><a [routerLink]="['/empleados', emp.id]">{{emp.id}}</a></th>
      <td>{{emp.codigo}}</td>
      <td>{{emp.nombre}}</td>
      <td>{{emp.salario}}</td>
    </tr>
  </tbody>
</table>

