<div class="row">
  <div class="col-md-8 mx-auto">
    <ul class="list-group">
      <li class="list-group-item">CLIENTES</li>
      <li class="list-group-item list-group-item-warning" *ngFor="let cli of clientes">{{"Id: "+cli.id+","+"Nombre: "+cli.nombre+","+"Nit: "+cli.nit+","+"Direccion: "+cli.direccion}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div  class="col"></div>
  <div class="col"><button type="submit" class="btn btn-primary" (click)="onAgregar()">Agregar</button></div>
  <div  class="col"></div>
</div>
